body {
  font-family: sans-serif;
  background: linear-gradient(to bottom, #fbfcc4, #f3fae4);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  color: white;
  font-size: 25px;
  width: 130px;
  height: 60px;
  border-radius: 10px;
}

.calculator {
  width: 580px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 30px;
}
.calculator__column {
  padding: 0 10px;
  margin-top: 5px;
  /* width: 95%; */
}
.result {
  width: 500px;
  height: 70px;
  background-color: white;
  border-radius: 10px;
  color: black;
  font-size: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  /* box-sizing: border-box; */
}

.first__column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  height: 70px;
}

.zero {
  width: 265px;
}

.number {
  background-color: rgba(145, 141, 141, 0.6);
}
.reset {
  background-color: #ddd6f3;
}
.operations {
  background-color: #faaca8;
  text-align: center;
}
.equal {
  background-color: #ddd6f3;
}
.dot {
  background-color: #faaca8;
}

.calculator__column:last-child {
  display: flex;
  /* flex-direction: column; */
}
.calculator__column-left_coulmn {
  margin-bottom: 5px;
}
.calculator__column-right {
  margin-left: 8px;
}
.calculator__column-right button {
  height: 188px;
}

#screenWidth {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #faaca8, #ddd6f3);
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

@media screen and (min-width: 680px) {
  #screenWidth {
    display: none;
  }
}
